PORT=8000
HOST=0.0.0.0

# Hanya backend web Nextura yang boleh memakai Core
NEXTURA_CORE_SECRET=nx-core-ganti-dengan-secret-panjang

# Gonka
GONKA_API_KEY=jg-ganti-key
GONKA_BASE_URL=https://gate.joingonka.ai
GONKA_MODEL_PRO=MiniMaxAI/MiniMax-M2.7
GONKA_MODEL_CODE=MiniMaxAI/MiniMax-M2.7

# CometAPI
COMET_API_KEY=ganti-comet-key
COMET_BASE_URL=https://api.cometapi.com/v1
COMET_VISION_MODEL=gpt-5-nano-2025-08-07
COMET_FLUX_URL=https://api.cometapi.com/flux/v1/flux-2-pro
COMET_FLUX_RESULT_URL=https://api.cometapi.com/flux/v1/get_result

# Branding
NEXTURA_DEVELOPER=Nextura
NEXTURA_LOCATION_URL=https://www.google.com/maps/search/?api=1&query=-6.84438919994596%2C108.76386257925714

# Fitur
ENABLE_AGENT_SEARCH=true
ENABLE_DEEP_THINKING=true
MAX_OUTPUT_TOKENS=16384

RATE_LIMIT_MAX=120
RATE_LIMIT_WINDOW_MS=60000
